:root {
    --point-color: #555;
    --size: 5px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    height: 100%;
    margin: 0;
  }
  
  #text {
    max-width: 600px;
    margin: 3% auto auto;
  }
  
  h1 {
    font-family: Times New Roman;
    font-size: 68px;
    font-weight: 600;
  }
  
  h2 {
    font-family: Leto;
    font-size: 35px;
    font-weight: 600;
  }
  
  a, p, li, #footer {
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    text-decoration: none;
  }
  
  a:hover {
    font-weight: 600;
  }
  
  #footer {
    color: #696969;
    text-align: center;
    margin: auto;
    font-size: 14px;
    position: absolute;
    top: 95%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @media only screen and (width <= 650px) {
    h1 {
      margin: 0%;
      padding: 0%;
      font-size: 45px;
    }
  }
  
  .dotlist {
    padding: 0;
    list-style-type: none;
  }
  
  #controls {
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: auto;
    display: flex;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @media only screen and (width <= 650px) {
    #controls {
      z-index: 2300;
      flex-direction: column;
      display: flex;
      top: 65%;
    }
  }
  
  #fetch-books, input[type="date"], select {
    box-sizing: border-box;
    color: #111827;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
    background-color: #fff;
    border: 0;
    padding: .5rem .75rem;
    font-family: Inter var, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    -webkit-text-decoration: none;
    text-decoration: none;
    box-shadow: 0 1px 3px #0000001a, 0 1px 2px #0000000f;
  }
  
  #fetch-books:hover, input:hover, select:hover {
    background-color: #ced4d9;
  }
  
  .loader {
    z-index: 100000;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    display: flex;
    overflow: hidden;
  }
  
  .loader__element {
    border: var(--size) solid var(--point-color);
    margin: calc(var(--size) * 2);
    border-radius: 100%;
  }
  
  .loader__element:first-child {
    animation: .3s ease-in-out infinite alternate preloader;
  }
  
  .loader__element:nth-child(2) {
    animation: .3s ease-in-out .1s infinite alternate preloader;
  }
  
  .loader__element:nth-child(3) {
    animation: .3s ease-in-out .2s infinite alternate preloader;
  }
  
  @keyframes preloader {
    100% {
      transform: scale(2);
    }
  }
  
  .hero-image {
    justify-content: center;
    width: 100%;
    height: 300px;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  
  .hero-image img {
    object-fit: cover;
    width: 100%;
    height: auto;
    min-height: 100%;
  }
  
  .hero-text {
    text-align: center;
    color: #ffffff;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @media only screen and (width <= 650px) {
    .hero-text {
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  #slideshowcontainer {
    text-align: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 3% auto;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    position: relative;
  }
  
  .mySlides {
    display: none;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {
      opacity: .4;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .prev, .next {
    cursor: pointer;
    color: #000;
    -webkit-user-select: none;
    user-select: none;
    z-index: 1000;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    transition: all .6s;
    position: absolute;
    top: 150px;
  }
  
  .next {
    right: 0;
  }
  
  .prev {
    left: 0;
  }
  
  .prev:hover, .next:hover {
    background-color: gray;
  }
  
  .book-image {
    z-index: 2000;
    width: 30%;
    min-width: 200px;
    height: auto;
    margin: auto;
    display: flex;
  }
  
  @media only screen and (width >= 978px) {
    .book-image:hover {
      transition: transform .8s;
      transform: scale(2);
    }
  }
  /*# sourceMappingURL=index.d4ed5de4.css.map */
  